:root {
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;

    --fuente-principal: 3.8rem;
}

html{
    font-size: 62.5%;
}
body{
    font-size: 16px;/* 1rem = 10px */
    font-family: 'Barlow Condensed', sans-serif;
}
.titulo {
    text-align: center;
    font-size: var(--fuente-principal);
    color: var(--oscuro);
    font-family: 'Caveat', cursive;
    font-weight: normal;
}
.titulo span{
    font-size: 2rem;
}

/*
2 tomates
carne de paleta/ pulpa negra
cebolla perla 4 y roja 4
quinoa inaquinoa 500 gr
desodorante 
pan cortado
jamon de pavo 250 gr don diego
mortadela 250 gr juris grasita
tocino 250 gr
ramen
galón de alcohol
papel higienico
granadillas 4
manzanas gold 4
chuletas 3 bandejas
rinse anto
encident
*/